@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    width: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark-blue);
  font-size: 28px;
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
}

:root {
    --mobile-width: 375px;
    --desktop-width: 1440px;

    --primary-cyan: hsl(193, 38%, 86%);
    --primary-neon: hsl(150, 100%, 66%);
    --neutral-blue: hsl(217, 19%, 38%);
    --neutral-dark-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
}
